<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Lilita+One&family=Neuton&display=swap" rel="stylesheet">
<div class="wrapper fadeInDown">
  <center> <img  src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/52758/globe-showing-americas-emoji-clipart-md.png" id="icon" alt="User Icon" ></center>
<div id="formContent">
  <div class="centrado">
    <!-- Icono -->   
     
    <h1>{{Pregunta}}</h1>
      <div id="EJEMP">
        <input id="botonPreguntaFacil1" type="submit" class="fadeIn fourth btn-xs" value="{{Opcion1}}" onclick="checkRespuesta2(1, value, '{{Correcta}}', {{NumCorrecta}})">
        <input id="botonPreguntaFacil2" type="submit" class="fadeIn five " value="{{Opcion2}}" onclick="checkRespuesta2(2, value, '{{Correcta}}', {{NumCorrecta}})">
        <input id="botonPreguntaFacil3" type="submit" class="fadeIn five " value="{{Opcion3}}" onclick="checkRespuesta2(3, value, '{{Correcta}}', {{NumCorrecta}})">
      </div>
  </div>
</div>


